body
{
  color: white;
  background: purple;
}
span
{
  font-size: 30px;
}
#camera 
{
  border: 2px dashed black;
  width: 350px;
  height: 350px; 
  margin-bottom: 50px;
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading
{
  font-size: 35px;
  border-radius: 15px;
  letter-spacing: 10px;
}
button
{
  background-color: aqua;
  color: black;
  width: 200px;
  height: 40px;
  font-size: 15px;
}
#result{
  height: 320;
  width: 350px;
  margin-top: 0px;
  border: 2px dashed black;
}
#predict{
  margin-top: 85px;
}
  
